<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="version.t4" #>
<#@ output extension=".json" #>
{
    "ID":           "JPFarias-SkipIntro",
    "Author":       "Tahvohck",
    "Version":      "<#= this.version #>.<#= this.buildID #>",

    "EntryMethod":  "FAKE STUB",
    "DisplayName":  "Skip Intro ReManaged",
    "AssemblyName": "JPF_SkipIntro.dll"
}
